
.vs/*
src/chatClient/bin/*
src/chatClient/obj/*
src/chatClient/Services/知识库.md
/src/JIm.ChatClient.Core/bin/*
/src/JIm.ChatClient.Desktop/bin/*
/src/JIm.ChatClient.Desktop/obj/*
/src/JIm.ChatClient.Core/obj/*
/chatClient
